<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Viet Nguyen, Sagar</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
                  <require_module>org.openmrs.module.hospitalcore</require_module>
    </require_modules>
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AccountingActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AccountingHeader</class>
	</extension>
	
	
	<!-- Maps hibernate file's, if present -->
	<packagesWithMappedClasses>
		org.openmrs.module.accounting
	</packagesWithMappedClasses>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->


	<privilege>
		<name>Add/Edit Account</name>
		<description>Allows user to add/edit Account</description>
	</privilege>
	
	<privilege>
		<name>Delete Account</name>
		<description>Allows user to delete Account</description>
	</privilege>
	
	<privilege>
		<name>View Account</name>
		<description>Allows user to view Account</description>
	</privilege>

	<privilege>
		<name>View Account Balance</name>
		<description>Allows user to  View Account Balance</description>
	</privilege>
	
	<privilege>
		<name>Add/Edit BankAccount</name>
		<description>Allows user to  Add/Edit BankAccount</description>
	</privilege>
	
	<privilege>
		<name>View BankAccount</name>
		<description>Allows user to  View BankAccount</description>
	</privilege>

	<privilege>
		<name>Add/Edit BankStatement</name>
		<description>Allows user to Add/Edit BankStatement</description>
	</privilege>

	<privilege>
		<name>View BankStatement</name>
		<description>Allows user to View BankStatement</description>
	</privilege>
	
	<privilege>
		<name>Add/Edit Budget</name>
		<description>Allows user to Add/Edit Budget</description>
	</privilege>

	<privilege>
		<name>View Budget</name>
		<description>Allows user to View Budget</description>
	</privilege>
	
	<privilege>
		<name>Add/Edit Fiscal Year</name>
		<description>Allows user to Add/Edit Fiscal Year</description>
	</privilege>

	<privilege>
		<name>View Fiscal Year</name>
		<description>Allows user to View Fiscal Year</description>
	</privilege>

	<privilege>
		<name>Add/Edit Income Receipt</name>
		<description>Allows user to Add/Edit Income Receipt</description>
	</privilege>

	<privilege>
		<name>View Income Receipt</name>
		<description>Allows user to View Income Receipt</description>
	</privilege>

	<privilege>
		<name>View Payment</name>
		<description>Allows user to View Payment</description>
	</privilege>

	<privilege>
		<name>Add/Edit Payee</name>
		<description>Allows user to Add/Edit Payee</description>
	</privilege>

	<privilege>
		<name>Add/Edit Payment</name>
		<description>Allows user to Add/Edit Payment</description>
	</privilege>

	<privilege>
		<name>View Period</name>
		<description>Allows user to View Period</description>
	</privilege>
	
	<privilege>
		<name>View Accounting Report</name>
		<description>Allows user to View Accounting Report</description>
	</privilege>

</module>

